

const MAPBOX_ACCESS_TOKEN = '';
const config = {
    "airmap": {
        "api_key": ""
    },
    "auth0": {
        "client_id": "",
        "callback_url": null
    },
    "mapbox": {
	"access_token": MAPBOX_ACCESS_TOKEN
    }
}
